/* app css stylesheet */
*, :after, :before {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.72222;
  color: #34495e;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Laila, serif;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
}

h3 {
  font-size: 29px;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: #16a085;
  text-decoration: none;
}

p {
  margin: 0;
}

textarea, input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 18px;
  line-height: 1.72222;
  color: #34495E;
  border: 2px solid #ECF0F1;
  border-radius: 3px;
  font: inherit;
}

main {
  padding: 15px 15px 0;
}

main#scroll {
  height: 570px;
  overflow: auto; /* append scrollbars if necessary */
}

.wrapper {
  padding-left: 15px;
  clear: both;
  overflow: hidden;
}

nav {
  background-color: #34495e;
  min-height: 53px;
  display: block;
}

.rantly {
  font-size: 16px;
}

.logo {
  font-size: 30px;
  padding-left: 10px;
}

header a {
  display: block;
  position: relative;
  color: #fff;
  padding: 15px;
  float: left;
  font-weight: 700;
  line-height: 23px;
}

button.new-button {
  float: right;
  padding: 6px 12px;
}

aside, section {
  display: inline-block;
}

header.main {
  background: #3498DB;
  color: #fff;
  padding: 7px 15px;
  height: 47px;
}

header.main > a {
  float: none;
  padding: 0;
}


aside {
  width: 25.33%
}

section {
  float: right;
  width: 74.66%;
}

.button {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  text-align: center;
  color: #fff;
  border: 1px solid;
  border-radius: 3px;
  background: #1ABC9C;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition: .25s;
  transition: .25s;
}

.button-invert {
  background: #fff;
  color: #1ABC9C;
  border-color: #fff;
}

.rant-box {
  width: 100%;
  position: relative;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
  border-radius: 3px;
  clear: both;
  overflow: hidden;
}

h3.rant-title > a, h3.rant-title {
  width: 80%;
  float: left;
  color: rgb(52, 73, 94);
  padding: 0;
  line-height: 1.1;
  margin: 0;
}

.rant-action {
  float: right;
}

.rant-action > .button {
  float: left;
  margin-left: 15px;
}

.rant-content {
  padding-left: 20px;
}

header > a > h3 {
  width: 75%;
  float: left;
}

.user-photo {
  display: block;
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
  color: #34495E;
  background: url(../img/author-photo-db65e861597528b36484917f92f1e0b3.png) center/cover no-repeat;
  border: 4px dashed;
  border-radius: 25px 25px 0;
}

.user {
  padding: 15px 15px 0px 15px;
  width: 23%;
  min-height: 190px;
  margin-left: 15px;
  margin-bottom: 15px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
  float: left;
}
.user-show {
  padding: 15px 15px 0px 15px;
  width: 100%;
  min-height: 190px;
  margin-left: 15px;
  margin-bottom: 15px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
  float: left;
}

.user-photo-show {
  display: block;
  width: 50%;
  height: 100px;
  margin-bottom: 15px;
  color: #34495E;
  background: url(../img/author-photo-db65e861597528b36484917f92f1e0b3.png) center/cover no-repeat;
  border: 4px dashed;
  border-radius: 25px 25px 0;
  float: right;
  margin-right: 20px;
}

a > div.user > h5 {
  margin-top: 4px;
  margin-bottom: 3px;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
  color: #34495e;
}

a > div.user > h6 {
  margin-top: 3px;
  font-size: 11px;
  font-weight: 300;
  line-height: 18px;
  text-transform: none;
  margin-bottom: 0;
  text-decoration: none;
  color: #34495e;
}

section.full-width {
  width: 100%;
}

.rant-form {
  width: 100%;
  position: relative;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
  border-radius: 3px;
  clear: both;
  overflow: hidden;
}

.rant-header {
  margin-bottom: 15px;
  color: #34495E;
  clear: both;
  overflow: hidden;
}


.rant-header input {
  font-family: Laila,serif;
  font-weight: 700;
  line-height: 1.1;
  color: #34495E;
  border: none;
  border-bottom: 2px solid #ECF0F1;
  border-radius: 0;
  padding: 0;
  font-size: 29px;
  width: 100%;
}

.rant-header > a {
  float: none;
  padding: 0px;
}

.rant-header > a > h3 {
  margin-bottom: 0;
  margin-top: 0;

}

.rant-header-title {
  float: left;
  width: 60%;
  border: none;
}

.rant-header-title>input:focus {
  outline: none;
  border-bottom: 1px solid #1ABC9C;
}

textarea:focus, .register-form>input:focus, .log-in>input:focus {
  outline: none;
  border: 1px solid #1ABC9C;
}

.register-form {
  position: relative;
  padding: 15px;
  border-radius: 3px;
}

.register-button {
  width: 100%;
}

.log-in {
  position: relative;
  padding: 15px;
  border-radius: 3px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
}

.rant-search {
  position: relative;
  color: #3498DB;
  background: 0 0/16px 16px #3498DB;
}

.rant-search-field::-webkit-input-placeholder {
  color: white;
}

.rant-search-field {
  padding: 5px 0;
  margin: 0;
  font-size: 19px;
  font-weight: 700;
  line-height: 23px;
  color: #34495E;
  text-indent: 0;
  background: 0 0;
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}

.spinner-box {
  margin: 50px;
}

.droid-header-title, .droid-content {
  text-align: center;
  width: 100%;
}

.droid-content > p {
  margin: 0 0 15px;
  font-size: 18px;
  line-height: 1.72222;
}
