<main id="scroll">
  {{#each user in model}}
    {{#link-to 'user' user}}
      <div class="user">
        <div style="background-image: url(http://www.gravatar.com/avatar/)" class="user-photo">
        </div>
        <h5>
          {{user.firstName}}
          {{user.lastName}}
        </h5>
        <h6>
          {{user.email}}
        </h6>
      </div>
    {{/link-to}}
  {{/each}}
</main>
